.cartPage {
    display: flex;
    width: 70%;
    justify-content: center;
    margin: auto;
    margin-top: 32px;
    gap: 32px;
    flex-wrap: wrap;
}

.cartTotalBox {
    border-radius: 4px;
    background-color: #F3F3F3;
    height: fit-content;
    width: 30%;
    min-width: 230px;
    padding: 8px;
    box-shadow: -4px -4px 15px rgba(0, 0, 0, .05);
}

.cartTotalHead {
    font-size: xx-large;
    font-weight: 600;
}

.cartTotalBody {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cartTotalContainer {
    display: flex;
    justify-content: space-between;
}

.cartTotalSubTotal {
    line-height: 42px;
}

.cartTotalBody button {
    border: none;
    width: 90%;
    cursor: pointer;
    background-color: #121675;
    color: #ffffff;
    font-size: large;
    font-weight: 600;
    padding: 8px;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-top: 8px;
    border-radius: 8px;
    align-self: center;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, .05);
}

.cartItemsBox {
    border-radius: 4px;
    background-color: #F3F3F3;
    display: flex;
    flex-direction: column;
    gap: 18px;
    width: 60%;
    min-width: 400px;
    justify-content: center;
    box-shadow: -4px -4px 15px rgba(0, 0, 0, .05);
}

.cartItem {
    padding: 8px;
    display: flex;
    justify-content: space-between;
    min-width: 400px;
}

.cartItemImg {
    width: 40%;
    min-width: 162px;
    padding-right: 12px;
}

.cartItemImg img {
    width: 100%;
    min-width: 162px;
    aspect-ratio: 1.62/1;
    overflow: hidden;
    object-fit: cover;
    border-radius: 16px;
    border: 2px;
    border-style: dashed;
}

.cartItemBody {
    margin-top: 12px;
    margin-bottom: 12px;
    padding-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cartItemBody > * {
    padding-top: 2px;
    padding-bottom: 2px;
}

.cartItemHead {
    font-size: large;
    font-weight: 600;
}

.cartItemAmount .cartItemAmountSelect {
    width: 70%;
    aspect-ratio: 1/0.3;
    border-radius: 4px;
}

.cartItemActionButtons {
    display: flex;
    width: 70%;
    justify-content: space-around;
}

.cartItemActionButtons button {
    background-color: #F3F3F3;
    border: none;
    cursor: pointer;
}

.cartItemPrice {
    padding: 16px;
    text-align: end;
    font-weight: 600;
    white-space: nowrap;
}

hr {
    width: 95%;
    border: 1px;
    border-color: #b38259;
    border-style: solid;
}