.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    font-weight: 600;
    color: black;
    font-size: 1.30rem;
    line-height: 2.25rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 4px;
    margin: 8px;
}

.navbar-start {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-basis: 100%;
}

.navbar-start > * {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}

.navbar-center {
    display: flex;
    justify-content: space-between;
    flex-basis: 60%;
    align-items: center;
}

.navbar-icon {
    display: flex;
    align-content: space-between;
    align-items: center;
    gap: 6px
}

.navbar-end {
    display: flex;
    justify-content: end;
    flex-basis: 100%;
    align-items: center;
    margin-right: 4px;
}

.navbar-start:hover {
    cursor: pointer;
}

.navbar-center > *,
.navbar-end > * {
    transition: all 300ms ease-in-out;
}

.navbar-center > *:hover,
.navbar-end > *:hover {
    transform: scale(1.2);
}